# Ignore Git directory
.git
.gitignore

# Ignore dependencies (they will be installed inside the container)
node_modules

# Ignore environment variables file (these will be passed in at runtime)
.env

# Ignore test files
tests/
jest.config.js

# Ignore Docker files
Dockerfile
.dockerignore